.hoverBgColorView:hover{
color:  #34495e !important;
}


.roundBorder{
    /* background-color: aqua !important; */
    height: 27px;
    width: 38px;
    text-align: center !important;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-left: 6px !important;
    border-radius: 5px !important;
}