<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2 class="head">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A, laudantium
      tempora! Beatae dignissimos debitis dolorum sapiente quibusdam iure,
      inventore vel perferendis obcaecati hic? Repudiandae nostrum quam dolores
      expedita assumenda voluptatum!z
    </h2>
    <script>
      const array = Array.from(document.getElementsByClassName("head"));
       
        // ele.addEventListener("click");
  
         (array[0].addEventListener('click' ,()=>console.log("nuuuuu")))
    </script>
  </body>
</html>
